html(lang='en')
    head
        title Evolving Mushrooms
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')


        // libraries


        // scripts
        script(src='mushroom.js')
        
        

        link(rel='stylesheet', href='style.css')
    body
        button#start Start
        button#pause Pause
        button#restart Restart
        .main
            canvas#board
