html(lang='en')
    head
        title Petri Dish
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        // libraries

        // scripts
        script(src='mushroom.js')
        
        link(rel='stylesheet', href='style.css')
    body
        .title Petri Dish
        .main
            .sideMenuLeft
                button#start.setupButton Start
                button#restart.setupButton Restart
                
                label.info Mutation Probability
                input#mutationProbability(type="range", name="mutationProbability", min="0", max="100", value="5").setupButton
                label.info Mutation Amount
                input#mutationAmount(type="range", name="mutationAmount", min="0", max="50", value="5").setupButton
                label.info Walls
                select#selectWalls(name="walls").setupButton
                    option(value="noWalls") No Walls
                    option(value="squares") Squares 
                    option(value="squares_holed") Squares with holes
                    option(value="labyrinth") Labyrinth
                label.info Color Hue
                select#selectHues(name="hues").setupButton
                    option(value="hue_init") Default
                    option(value="gradient") Gradient 
                    option(value="random") Random 

            .boardContainer
                canvas#board
                label#stepCounter
