
body
    background: #30302c

.title
    font-family: fantasy
    font-size: 50px
    color white
    opacity: 75%

.sideMenuLeft
    .setupButton
        display: block
    .info
        font-family: fantasy
        color white
        opacity 50%
.boardContainer
    width: 100%;
    text-align:center;
    #board
        display: inline
    #stepCounter
        display: block
        color white
        opacity 75%