
body
    background: #30302c

.title
    font-family: fantasy
    font-size: 50px
    color white
    opacity: 75%
    

.main
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

.sideMenuLeft
    margin-left: 20px
    .setupButton
        display: block
        margin-bottom: 7px
        &#restart
            opacity 50%
            margin-top: 30px
    .info
        font-family: fantasy
        color white
        opacity 50%
    

.boardContainer
    width: 100%;
    text-align:center;
    #board
        display: inline
    #stepCounter
        display: block
        color white
        opacity 75%